.details{
    margin: 130px 0px 0px 30px ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.details img{
    width: 300px;
    margin-right: 35px;
}
.details p{
    font-size: large;
    font-weight: 600;
}
.data{

    display: flex;
    flex-direction: column;
    align-items:center;
}
.data button{
    cursor: pointer;
    padding: 5px 10px;
    color: #fff;
    background-color: #586BA4;
    border-radius: 5px;
    border-style: solid;
    border-color: #324376;
}